.tab {
    overflow: hidden;
    background-color: #f1f1f100;
    
  }

  .tab-text{
    font-size:14px;
  }
  
  /* Style the buttons inside the tab */
  .tab .tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: orange;
    font-weight: 700;
  }
  
  /* Change background color of buttons on hover */
  .tab .tablinks:hover {
    background-color: #40e0ee;
    color:black;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #40e0ee;
    color:black;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    animation: fadeEffect 1s;
  }

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .card-title{
    color:#4633af;
  }

  .card-text{
    color:#4633af;
  }

  .text-muted{
    color: #000;
    font-weight: 800;
  }

  .card{
    border: #000;
    margin-bottom: 10px;
  }